body {
    background-color: #c2e6d8;
}
.navbar {
    background-color: #4CAF50;
}
.navbar-brand {
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
}
.navbar-brand img {
    width: 100px;
    margin-right: 10px;
}
.navbar-brand span {
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, sans-serif;
}

.subheader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.subheader a {
    color: white;
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.full-width {
    width: 100%;
}