/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
  color: black;
}

/* Header */

@font-face {
  font-family: 'Nunito';
  src: url(../fonts/Nunito-VariableFont_wght.ttf) format("truetype-variations");}

.global_style {
  width: 100%;
  background-color: #c2e6d8;
  font-family: 'Nunito';
  font-weight: bolder;
  margin: auto;}
.header_style {
  width: 100%;
  font-size: 16px;}
.picture_container {
  width: auto;
  padding: 15px;
  float: left;
  text-align: center;}
.picture_container img {
  height: 80px;
  width: auto;}
.title {
  font-size: 40px;
  float: left;
  padding: 38px 0px 38px 0px;
  text-align: center;}
.subheader {
  width: auto;
  height: auto;
  vertical-align: top;
  padding: 20px;
  text-align: end;}
.subheader a {
  width: auto;
  height: auto;
  padding: 30px;
  border-radius: 22px;
  display: inline-block;
  transition: all .5s ease;}
.subheader a:hover {
  background-color: #a3a3a3;}

/* index body */
#login-container {
  width: 50%;
  margin: auto;
}


h2 {
  text-align: center;
  color: #4CAF50;
  font-size: 34px;
  padding: 5px;
}

label {
  font-size: 18px;
  color: #4CAF50;
}

input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #4CAF50;
  border-radius: 4px;
}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #4CAF50;
  border-radius: 4px;
}

#submit {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

#submit:hover {
  background-color: #2E8B57;
}

#message {
  text-align: center;
  color: #4CAF50;
  font-size: 18px;
}

